forenzna_analyza/01_passdmp/pass.dmp
forenzna_analyza/02_dlazdice/Cache0001.bin
forenzna_analyza/06_mft/DFIR_ORIGINAL.zip
forenzna_analyza/02_dlazdice/Cache0000.bin
cloud/rybacka/Default.zip
forenzna_analyza/04_truecrypt/TrueRecovery.zip
forenzna_analyza/06_mft/original.csv
forenzna_analyza/04_truecrypt/WIN-FR1CCR96Q1V-20231121-232042.raw
forenzna_analyza/06_mft/2023-12-03T171611_CTF.vhdx
forenzna_analyza/06_mft/original_filtered.csv
cloud/rybacka/Default/
