forenzna_analyza/01_passdmp/pass.dmp

forenzna_analyza/02_dlazdice/Cache0000.bin
forenzna_analyza/02_dlazdice/Cache0001.bin

forenzna_analyza/04_truecrypt/TrueRecovery.zip
forenzna_analyza/04_truecrypt/WIN-FR1CCR96Q1V-20231121-232042.raw

forenzna_analyza/06_mft/2023-12-03T17_16_11_9204143_CopyLog.csv

forenzna_analyza/15_usbcko/lost_flash_drive*

cloud/rybacka/Default.zip





cloud/rybacka/Default/

